<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225590193210-qv9afh07k4kdhj1elmsjp2ukrfapt8r3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225590193210-qv9afh07k4kdhj1elmsjp2ukrfapt8r3</string>
	<key>API_KEY</key>
	<string>AIzaSyCucAadseccNm8CdcQkh-UTnj0Ug7fGE-E</string>
	<key>GCM_SENDER_ID</key>
	<string>225590193210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.SocialIo</string>
	<key>PROJECT_ID</key>
	<string>socialio-c3892</string>
	<key>STORAGE_BUCKET</key>
	<string>socialio-c3892.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225590193210:ios:948c9dd942d97fbd5cd903</string>
	<key>DATABASE_URL</key>
	<string>https://socialio-c3892.firebaseio.com</string>
</dict>
</plist>